body {
  font-family: system-ui;
  background-color: #373a40;
  margin: 0;
}

header,
nav,
main {
  display: flex;
  justify-content: center;
}

ul,
ol {
  list-style: none;
  display: block;
  padding: 0 0 0 0;
}

h1 {
  color: #eeeeee;
}

#new-task,
#submit-btn,
#clear-btn {
  height: 4vh;
  box-sizing: border-box;
  padding-left: 4px;
  margin: 0;
}

#submit-btn,
#clear-btn {
  background-color: #dc5f00;
  border: 0;
  color: #eeeeee;
  margin: 0;
  padding: 0;
  width: 2.7rem;
  font-weight: bold;
}

.deleteTask-btn {
  background: transparent;
  opacity: 80%;
  border: 0;
}

.completed {
  text-decoration: line-through;
  color: #eeeeee;
  background-color: #dc5f00;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: medium;
  background-color: #eeeeee;
  color: #373a40;
  width: 60vw;
  height: 4vh;
  max-height: fit-content;
  border-radius: 5px;
  margin-bottom: 5px;
}
